@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border scroll-pt-20;
  }

  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }

  h1 {
    font-weight: 700;
    font-size: clamp(40px, 8vw + 1rem, 100px);
    text-transform: capitalize;
  }
  h2 {
    font-weight: 700;
    font-size: clamp(32px, 4vw + 1rem, 64px);
    text-transform: capitalize;
  }
  h3 {
    font-weight: 700;
    font-size: clamp(28px, 3vw + 1rem, 40px);
    text-transform: capitalize;
  }
  h4 {
    font-weight: 700;
    font-size: clamp(20px, 3vw + 1rem, 32px);
    text-transform: capitalize;
  }
  h5 {
    font-weight: 700;
    font-size: clamp(20px, 3vw + 1rem, 24px);
    text-transform: capitalize;
  }
  h6 {
    font-weight: 700;
    font-size: clamp(14px, 3vw + 1rem, 16px);
    text-transform: capitalize;
  }
}

@layer utilities {
  .navbar__white {
    @apply text-black;
  }

  .navbar__black {
    @apply bg-white;
  }

  .navbar__black a {
    @apply hover:text-accent-1;
  }

  .spacing-vertical {
    /* padding-block: clamp(1rem, 1rem + 10vw, 6.25rem); */
    @apply py-12 md:py-24;
  }
  .spacing-horizontal {
    /* padding-inline: clamp(1rem, 1.5rem, 9.375rem); */
    @apply px-3 md:px-40;
  }

  @media (min-width: 40em) {
    .spacing-horizontal {
      padding-inline: clamp(1rem, 1rem + 15vw, 9.375rem);
    }
  }
}

@layer components {
}
