@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  @apply box-border
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.navbar__white {
  @apply text-white 
}

.navbar__black {
  @apply text-black bg-white
}

.navbar__black a {
  @apply hover:text-accent-1
}

.sectionHeader {
  @apply text-4xl font-bold text-black mb-4
}

.sectionPadding {
  @apply py-28 px-6
}

.callToAction {
  @apply w-full max-h-16 flex-auto bg-accent-1 text-xl font-extrabold text-white p-4 rounded-lg hover:brightness-105 flex flex-row justify-center items-center gap-2 capitalize
}

.inputField {
  @apply border border-solid border-slate-400 rounded-md p-4
}

.textArea {
  @apply h-[190px] resize-none
}

.tableTitle {
  @apply flex-1 flex flex-row justify-center items-center gap-2 bg-slate-500 text-white py-3 px-4 rounded-lg capitalize font-bold text-lg
}

.tableContainer {
  @apply w-full flex flex-row gap-2 lg:gap-4
}

.tableContent {
  @apply flex-1 flex flex-row items-center gap-2 border border-slate-300 py-2 px-4 rounded-lg capitalize text-sm
}