@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  @apply box-border
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.sectionHeader {
  @apply text-4xl font-bold text-black mb-4
}

.sectionPadding {
  @apply py-28 px-6
}

.callToAction {
  @apply w-full bg-accent-1 text-xl font-extrabold text-white p-4 rounded-full
}

.inputField {
  @apply border border-solid border-slate-400 rounded-md p-4
}

.textArea {
  @apply h-[190px] resize-none
}